language: node_js
node_js:
  - "0.8"
  - "0.10"
  - "0.12"
  - "4.1"
  - "4.0"
  - "iojs"
sudo: false
before_install: "test $TRAVIS_NODE_VERSION = '0.8' && npm install -g npm@1.2.8000 || true"
install: "test $TRAVIS_NODE_VERSION = '0.8' && npm install --production && npm install coveralls@~2.6.1 express@~4.9.5 istanbul@~0.2.3 mocha@~1.15.1 mocha-lcov-reporter@0.0.1 supertest@~0.14.0 || npm install"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - export NODE_PATH="$NVM_PATH/../node_modules"
